$color-bg-100: hsl(0, 0%, 10%);
$color-bg-150: hsl(0, 0%, 15%);
$color-bg-200: hsl(0, 0%, 20%);
$color-bg-250: hsl(0, 0%, 25%);
$color-bg-300: hsl(0, 0%, 30%);
$color-bg-350: hsl(0, 0%, 35%);

$color-text-100: hsl(0, 0%, 90%);
$color-text-150: hsl(0, 0%, 85%);
$color-text-200: hsl(0, 0%, 80%);
$color-text-250: hsl(0, 0%, 75%);
$color-text-300: hsl(0, 0%, 70%);
$color-text-350: hsl(0, 0%, 65%);
